<nav class="nav">
  <div class="navbar-content">
    <h1 routerLink="/main">My Heroes</h1>
    <ul #navItems class="nav-items">
      <li><a routerLink="/main">Home</a></li>
      <li *ngIf="!this.isLoggedIn">
        <a routerLink="/auth">Login / Register</a>
      </li>
      <li *ngIf="this.isLoggedIn"><a routerLink="/user">My Heroes</a></li>
      <li><a routerLink="/about">About</a></li>
      <li *ngIf="this.isLoggedIn"><a (click)="logout()">Log Out</a></li>
    </ul>
  </div>
  <div class="hamburger" #burger (click)="toggleBurger(navItems)">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</nav>
