:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

img {
  width: 200px;
  border-radius: 10px;
}

h3 {
  margin: 0;
}

button {
  margin: 0 10px;
}

.notification {
  height: 10px;
  font-size: 0.7rem;
}

.actions {
    display: flex;
    justify-content: space-around;
}