<form ngClass="form login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h2>Welcome back!</h2>
  <p [ngClass]="'notification error'">
    {{ uiErrorMessage }}
  </p>
  <div class="form-control">
    <input
      [ngClass]="{
        'error-input': email?.invalid === true && email?.touched
      }"
      type="email"
      formControlName="email"
      [placeholder]="
        email?.invalid && email?.touched
          ? 'Please enter a valid email'
          : 'Email'
      "
    />
  </div>
  <div class="form-control">
    <input
      [ngClass]="{
        'error-input': password?.invalid === true && password?.touched
      }"
      type="password"
      formControlName="password"
      [placeholder]="
        password?.invalid && password?.touched
          ? 'Please enter password'
          : 'Password'
      "
    />
    <label
      [ngClass]="'error small label-box'"
      *ngIf="(password?.errors?.['minlength'] || password?.errors?.['maxlength']) && password?.touched"
    >
      Please enter a password of 8 - 16 characters
    </label>
  </div>

  <div class="form-control" [ngStyle]="{ display: 'block' }">
    <input type="checkbox" formControlName="rememberMe" />
    <label>Remember me</label>
  </div>
  <button type="submit" ngClass="primary-color large btn">Login</button>
</form>
