.nav > ul {
  display: flex;
  gap: 10px;
  margin: 30px 0;
  padding: 0;
}

ul > li {
}

@media only screen and (max-width: 500px) {
  .nav {
    text-align: center;
  }
  .nav > ul {
    display: block;
    text-align: center;

  }
  ul > li {
    margin: 20px 0;
  }
}
