<form
  ngClass="form register"
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
>
  <h2>Register A New Trainer</h2>
  <div class="form-control">
    <input type="email" formControlName="email" placeholder="Email" />
    <label
      *ngIf="email?.invalid && email?.touched"
      [ngClass]="'error small label-box'"
    >
      Please enter a valid email</label
    >
  </div>
  <div class="form-control">
    <input type="password" formControlName="password" placeholder="Password" />
    <label
      *ngIf="password?.errors?.['pattern'] && password?.touched"
      [ngClass]="'error small label-box'"
    >
      Please enter a password with atleast: 1 Uppercase letter, 1 digit, and 1
      symbol</label
    >
    <label
      *ngIf="(password?.errors?.['minlength'] || password?.errors?.['maxlength']) && password?.touched"
      [ngClass]="'error small label-box'"
    >
      Please enter a password of 8 - 16 characters</label
    >
  </div>
  <div class="form-control">
    <input
      type="password"
      formControlName="confirmPassword"
      placeholder="Confirm password"
    />
    <label
      *ngIf="registerForm.errors?.['valuesDoNotMatch'] && password?.touched &&
       confirmPassword?.touched"
      [ngClass]="'error small label-box'"
    >
      Password do not match</label
    >
  </div>
  <button type="submit" ngClass="secondary-color large btn">Sign me up</button>
</form>
